<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
    <head>
        <title>FSF Day 5</title>
        <meta charset="UTF-8">
        <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="/libs/jquery/dist/jquery.js"> </script>      
        <script src="/libs/bootstrap/dist/js/bootstrap.js"> </script>
        <script src="/libs/angular/angular.js"> </script>

        <!--load my app-->
        <script src="/index.js"></script>
    </head>
      
    <body class="container" ng-controller= "FirstCtrl as firstCtrl">

     <h1 > {{ firstCtrl.myText }} </h1>
     <h2> {{ firstCtrl.reverseMyText }}</h2>
      <br>
     <input type="text" size="30" placeholder="Please enter text here" ng-model="firstCtrl.myText">
    
     
     <button type ="button" ng-click="firstCtrl.reverseText()"> Reverse </button>
     <button type ="button" ng-click="firstCtrl.clearText()" > clear reverse text </button>  
    
    </body>
</html>