<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
    <head>
        <title>Calculator</title>
        <meta charset="UTF-8">
        <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="/libs/jquery/dist/jquery.js"> </script>      
        <script src="/libs/bootstrap/dist/js/bootstrap.js"> </script>
        <script src="/libs/angular/angular.js"> </script>

        <!--load my app-->
        <script src="/indexgood.js"></script>
    </head>
      
    <body class="container" ng-controller= "FirstCtrl as firstCtrl">
    <input type="text" size="30" placeholder="Key in Number" ng-model="firstCtrl.myText1">
    </br>
     <input type="text" size="30" placeholder="Key in Number" ng-model="firstCtrl.myText2">
     <h1 > {{ firstCtrl.result }} </h1></br>
     <h2>{{ firstCtrl.err}}</h2>
     <button type ="button" ng-click="firstCtrl.add()"> Add </button>
      <button type ="button" ng-click="firstCtrl.sub()"> Sub </button>
     <button type ="button" ng-click="firstCtrl.div()"> Div </button>
      <button type ="button" ng-click="firstCtrl.mul()"> Mul </button>


    </body>
</html>