<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
    <head>
        <title>Futurism</title>
        <meta charset="UTF-8">
        <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="/libs/jquery/dist/jquery.js"> </script>      
        <script src="/libs/bootstrap/dist/js/bootstrap.js"> </script>
        <script src="/libs/angular/angular.js"> </script>

        <!--load my app-->
        <script src="/Todo.js"></script>
    </head>
      
    <body class="container" ng-controller= "FirstCtrl as firstCtrl">
     

        <div class="row">   
            
         <!--col 1   -->
            <div class="col-xs-12
                        col-sm-4
                        col-md-4
                        col-lg-4">

                <h2>My Reminder - Futurism</h2>
                <button type ="button" ng-click="firstCtrl.add()"class="btn btn-primary"> Add </button>
                <button type ="button" ng-click="firstCtrl.sortTask()"class="btn btn-primary"> SortbyTask </button>
                <button type ="button" ng-click="firstCtrl.sortCat()"class="btn btn-primary"> SortbyCat </button>
                <button type ="button" ng-click="firstCtrl.sortDate()"class="btn btn-primary"> SortbyDate </button>
                </br>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        
                <div class = "form-group">    
                    <input type="text" class="form-control" size="25" placeholder="Key in Task" ng-model="firstCtrl.task"></br>
                    <input type="text" class="form-control" size="25" placeholder="Key in Category" ng-model="firstCtrl.cat"></br>
                    <input type="text" class="form-control" size="25" placeholder="Key in Date mm/dd/yy" ng-model="firstCtrl.duedate">             
                </div>
               
                <h3>Transaction Details</h3>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                   
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Cat</th>
                                    <th>Done</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="txn in firstCtrl.result">
                                    <td>{{txn.Task}}</td>
                                    <td>{{txn.Date}}</td> 
                                    <td>{{txn.Cat}}</td> 
                                     <td>{{txn.Done}}</td>
                                </tr>
                            </tbody>
                        </table>   
                

           
            </div> 
            <!--end of Col 1    -->

            <!-- col 2 -->
            <div class="col-xs-12
                        col-sm-4
                        col-md-4
                        col-lg-4">
                   <div ng-app="appTable">
                        <h3>To Remove Task</h3>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>Task</td>
                                    <td>Date</td>
                                    <td>Cat</td>
                                    <td>Done</td>
                                    <td> </td>
                                </tr>
                            </thead>
                            <tbody>                   
                                <tr ng-repeat="todo in firstCtrl.result track by $index" >
                                    <td>{{todo.Task}}</td>
                                    <td>{{todo.Date | date}}</td> 
                                    <td>{{todo.Cat}}</td>
                                    <td>{{todo.Done}}</td> 
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="firstCtrl.removeRow($index)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                    <!--<td> <input type="button" value="X" class="btn btn-primary btn-sm" ng-click="firstCtrl.removeRow($index)"> </td>-->
                                </tr>
                            </tbody>
                        </table>
                </div>
                                
                                    
                                
            </div> <!-- end of col 2 -->

                    <!-- col 3 -->
                                <div class="col-xs-12
                                            col-sm-4
                                            col-md-4
                                            col-lg-4">
                                <h3>Search Tool</h3>
                                  
                        <input type="text" ng-model="searchTodos">
                        
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Cat</th>
                                    <th>Done</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="todo in firstCtrl.result| filter: searchTodos">
                                    <td>{{todo.Task}}</td>
                                    <td>{{todo.Date | date}}</td> 
                                    <td>{{todo.Cat}}</td>
                                    <td>{{todo.Done}}</td> 
                                    </tr>
                                                   
                            
                            </tbody>
                    </table>
                          <!--showing those not done-->

                    <!--<input type="text" ng-model="searchTodos">-->
                        <h3>Pending Tasks</h3>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Cat</th>
                                    <th>Done</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="todo in firstCtrl.result| filter: {Done: searchTodos, Done:false}">
                                    <td>{{todo.Task}}</td>
                                    <td>{{todo.Date | date}}</td> 
                                    <td>{{todo.Cat}}</td>
                                    <td>{{todo.Done}}</td> 
                                    </tr>
                                                   
                            
                            </tbody>
                         </table>                          
                            


                    </div> <!-- end of col 3 -->
                        

          

        </div> <!-- end of row -->
        <hr>




    </body>
</html>